# Preparing Uber Movement travel time data into graph

This is what we do here

In [1]:
import hyper
import prep_uber_movement

HYPER = hyper.HyperParameter()

Let us first inspect the available raw data files for an exemplar city. We have data available for and can choose from the following list of cities: 

Amsterdam, Atlanta, Auckland, Bagalore, Bogota, Boston, Brisbane, Bristol, Brussels, Cairo, Cape Town, Cincinnati, Guadalajara, Hyderabad, Johannesburg and Pretoria, Kolkata, Leeds, London, Los Angeles, Madrid, Manchester, Melbourne, Mexico City, Miami, Mumbai, Nairobi, New Delhi, Orlando, Paris, Perth, Pittsburgh, San Francisco, Santiago De Chile, Sao Paulo, Seattle, Stockholm, Sydney, Taipei, Tampa Bay, Toronto, Vienna, 'Washington D.C.', 'West Midlands, UK'.

In [2]:
# choose a city from the list of available ones above
city = 'Santiago De Chile'

# call the import data function
df_csv_dict_list, df_geojson = prep_uber_movement.import_data(HYPER, city)
df_csv_dict = df_csv_dict_list[0]
df_csv = df_csv_dict['df']

print()
display(df_csv)
display(df_geojson)

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,364,523,10,463.21,106.06,450.49,1.27
1,360,563,10,422.82,263.68,378.38,1.52
2,411,39,11,1123.33,237.19,1099.77,1.23
3,412,29,11,847.92,360.00,796.87,1.38
4,384,323,10,718.39,194.36,695.59,1.28
...,...,...,...,...,...,...,...
4740940,705,750,14,1087.76,194.36,1071.25,1.19
4740941,364,481,12,1181.83,280.74,1149.64,1.26
4740942,31,155,7,702.46,251.17,648.58,1.59
4740943,32,145,7,943.33,156.35,929.80,1.19
4740944,712,680,14,641.22,289.26,582.12,1.56

                  type                                           features
0    FeatureCollection  {'type': 'Feature', 'properties': {'ID': 318, ...
1    FeatureCollection  {'type': 'Feature', 'properties': {'ID': 311, ...
2    FeatureCollection  {'type': 'Feature', 'properties': {'ID': 301, ...
3    FeatureCollection  {'type': 'Feature', 'properties': {'ID': 734, ...
4    FeatureCollection  {'type': 'Feature', 'properties': {'ID': 330, ...
..                 ...                                                ...
861  FeatureCollection  {'type': 'Feature', 'properties': {'ID': 116, ...
862  FeatureCollection  {'type': 'Feature', 'properties': {'ID': 115, ...
863  FeatureCollection  {'type': 'Feature', 'properties': {'ID': 106, ...
864  FeatureCollection  {'type': 'Feature', 'properties': {'ID': 104, ...
865  FeatureCollection  {'type': 'Feature', 'properties': {'ID': 103, ...

[866 rows x 2 columns]